:root {
  --primary-blue: #00bcd4;
  --soft-gray: #f1f5f9;
  --light-gray: #e0e7ef;
  --dark-gray: #333;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #ffffff; /* O el color de fondo que desees */
}


/* SECCIÓN INTRO */
/* SECCIÓN INTRO */
.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3rem 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);
  flex-wrap: wrap;
  position: relative;
  min-height: 600px;
  animation: fadeInUp 1.5s ease forwards;
}

.intro::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 2.0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: fondoDesplazado 24s ease-in-out infinite;
  transition: background-image 1s ease-in-out;
}

.inicio-texto,
.inicio-spline {
  position: relative;
  z-index: 1;
  flex: 1;
  min-width: 300px;
  padding: 1rem;
  animation: fadeInLeft 1.5s ease forwards;
}

.inicio-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.animate-text {
  font-size: 3rem;
  font-weight: bold;
  color: var(--white);
  text-shadow: 1px 1px 4px var(--dark-gray);
  opacity: 0;
  animation: fadeInLeft 2s forwards;
}

.animate-subtext {
  font-size: 1.25rem;
  margin-top: 1rem;
  color: var(--white);
  text-shadow: 1px 1px 3px var(--dark-gray);
  opacity: 0;
  animation: fadeInLeft 2s 0.5s forwards;
}

/* Animación transparente a la derecha */
.spline-container {
  width: 100%;
  max-width: 700px;
  height: 500px;
  background-color: transparent;
  border: none;
  overflow: hidden;
  box-shadow: none;
  animation: fadeInRight 2s ease forwards;
}

spline-viewer {
  width: 100% !important;
  height: 100% !important;
  border: none;
}

/* ANIMACIÓN DE CAMBIO DE FONDO */
@keyframes fondoDesplazado {
  0% {
    background-image: url('../Imagenes/cielo.jpg');
    background-position: center;
  }
  40% {
    background-image: url('../Imagenes/cielo2.jpg');
    background-position: center left;
  }
  70% {
    background-image: url('../Imagenes/cielo3.jpg');
    background-position: center right;
  }
  100% {
    background-image: url('../Imagenes/cielo.jpg');
    background-position: center;
  }
}

/* ¿QUIÉNES SOMOS? */
.about-us {
  background-color: var(--soft-gray);
  color: var(--dark-gray);
  text-align: center;
  padding: 4rem 2rem;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}

.about-us.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Estilo para el título */
.about-text h2 {
  font-size: 3rem;
  font-weight: 700; /* Negrita para mayor impacto */
  color: var(--primary-blue);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave para darle profundidad */
  transition: color 0.3s ease, transform 0.3s ease;
}

.about-text h2:hover {
  color: var(--primary-light-blue); /* Cambio de color al pasar el mouse */
  transform: translateY(-5px); /* Ligero movimiento para efecto de hover */
}

/* Estilo para el texto del párrafo */
.about-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  margin: auto;
  color: var(--dark-gray);
  font-style: italic;
  letter-spacing: 0.5px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.about-text p:hover {
  color: var(--primary-blue); /* Cambio de color en el hover */
  transform: translateY(5px); /* Sutil efecto de movimiento al pasar el mouse */
}

/* ZONAS RURALES */
.zones {
  background-color: var(--white);
  color: var(--primary-blue);
  padding: 4rem 2rem;
  text-align: center;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}

.zones.visible {
  opacity: 1;
  transform: translateY(0);
}
.zones {
  border-top: 2px solid var(--light-gray); /* Borde superior */
  background: linear-gradient(180deg, #f7f9fb, #fff); /* Fondo degradado sutil */
}

/* Estilo para el subtítulo */
.zones-subtitle {
  font-size: 1.25rem;
  color: var(--primary-blue);
  margin-bottom: 0.5rem;
  font-weight: 500; /* Peso medio para no hacerlo tan intenso */
  letter-spacing: 1px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.zones-subtitle:hover {
  color: var(--primary-light-blue); /* Cambio de color suave al hacer hover */
  transform: translateY(-3px); /* Efecto de movimiento */
}

/* Estilo para el título de las zonas */
.zones h2 {
  font-size: 3rem;
  font-weight: 700; /* Negrita para dar énfasis */
  color: var(--primary-blue);
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para darle profundidad */
  transition: color 0.3s ease, transform 0.3s ease;
}

.zones h2:hover {
  color: var(--primary-light-blue); /* Cambio de color al pasar el mouse */
  transform: translateY(-5px); /* Efecto sutil de movimiento hacia arriba */
}


/* Tarjetas animadas */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem; /* Espaciado superior */
}

/* Estilo para cada tarjeta */
.card {
  background: linear-gradient(145deg, var(--light-gray), var(--white));
  border-radius: 16px;
  width: 280px;
  height: 220px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
  animation: fadeInUp 1s ease forwards;
  transform: scale(1); /* Para dar un efecto de escala al principio */
}

.card:hover {
  transform: scale(1.05); /* Escala la tarjeta al hacer hover */
  box-shadow: 0 12px 18px rgba(0, 188, 212, 0.4); /* Sombra más fuerte */
}

/* Estilo de la imagen de la tarjeta */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease;
  border-radius: 8px; /* Bordes redondeados en la imagen */
}

/* Descripción de la tarjeta */
.card-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--white);
  padding: 1rem;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease, background-color 0.4s ease, color 0.4s ease;
  border-radius: 16px; /* Bordes redondeados para que coincidan con las tarjetas */
}

/* Cambios cuando la tarjeta es hoverizada */
.card:hover img {
  opacity: 0.3; /* Baja la opacidad de la imagen */
}

.card:hover .card-description {
  opacity: 1;
  background-color: var(--white); /* Fondo blanco cuando se muestra la descripción */
  color: var(--primary-blue); /* Texto de la descripción en azul */
}

/* Efectos de transición suave en la descripción */
.card-description h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.card-description p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.4;
  transition: transform 0.3s ease;
}


/* ANIMACIONES */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    text-align: center;
  }

  .inicio-texto,
  .inicio-spline {
    flex: unset;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .spline-container {
    height: 300px;
  }
}
